__pycache__/
*.pyc
*.pyo
*.Synology*/
.DS_Store
desktop.ini
node_modules/
.next/
web/db/*.sqlite-shm
web/db/*.sqlite-wal
web/demo
web/public/images/avatars
web/public/images/crops
references/
scripts/.*
scripts/logs
tmp/
.env
.vscode
.claude
.agents
.agent
.codex
skills-lock.json

scripts/db/*.db
data/db
data/raw_event_payloads
data/checkpoints/
data/session/
data/**/checkpoint*.json
data/raw_event_payloads/
data/ranking_snapshots/
data/player_avatars
data/player_profiles
data/matches_complete/
data/locations.txt
data/team_matches
data/event_matches
data/matches
data/wtt_raw
data/wtt_pool_standings_analysis
data/wtt_results_analysis
data/live_event_data/
GEMINI.md
data/event_matches.txt
data/scraped.txt
data/url.txt
